@layout('layout/layout')
@section('main')
<strong>Go back to bet</strong>

<strong>Hello {{ name }}!!</strong>
<p>We at The Greatest Lottery, we miss you, come back to bet with us. Luck always smiles on those who try</p>

<a href="http://thegratestlottery.com">The Greatest Lottety</a>
@endsection
