@layout('layout/layout')
@section('main')
<strong>Confirm Account</strong>

<strong>Hello {{ name }}!!</strong>
<p>We're glad you created an account on The Greatest Lottery</p>
<p>To confirm your account just click on the link below</p>

<a href="{{link}}">Confirm Account</a>
@endsection
